
<div class="container">
  <div class="row text-center">
    <a ui-sref="trainers.calendar({id: 1})" class="col-xs-3">Trainer 1's calendar</a>
    <a ui-sref="trainers.calendar({id: 2})" class="col-xs-3">Trainer 2's calendar</a>
    <a ui-sref="trainers.calendar({id: 3})" class="col-xs-3">Trainer 3's calendar</a>
  </div>
  <br>
  <div class="btn-group calTools row col-md-offset-3">             
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" >
      Add Event
    </button>
  </div>
  <br>
  <section id="directives-calendar" >
    <div>
        <div class="row">

            <div class="col-lg-8">

                <span>Calendar {{trainerId}}</span>
                <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                  <h4>{{alertMessage}}</h4>
                </div>
                <div class="calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
            </div>

            <div class="col-lg-3">

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Schedule your next session!</h4>
                      </div>
                      <div class="modal-body text-left">
                        <div class="form-group col-xs-6">
                          <label for="clientName">Name:</label>
                          <input type="text" class="form-control" ng-model="clientName" />
                        </div>

                        <div class="form-group">
                            <label for="Date" class="col-xs-2 control-label">Date:</label>
                            <div class="col-xs-6">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="sessionMonth" placeholder="MM"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="sessionDay" placeholder="DD"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="time">Time:</label>
                            <div class="timeContainer">
                                <timepicker ng-model="mytime" hour-step="1" minute-step="30" ismeridian="false"></timepicker>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addEvent()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-group">
                    <li ng-repeat="e in events" class="list-group-item">
                        <div class="alert alert-info text-center">
                            <span>{{e.clientName}}</span> 
                            <div class="row">
                                <span>{{e.start | date:"MMM dd "}} @ {{e.start | addOffset | date:"shortTime"}} - {{e.end | date:"shortTime"}}</span>
                                <span class="btn btn-danger" ng-click="remove($index)">Cancel</span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
  </section>
</div>