<h3>Select a room to join</h3>
<div class="row">
	<a ui-sref="trainers.chat({id: 1})" class="col-xs-3">Trainer 1's room</a>
	<a ui-sref="trainers.chat({id: 2})" class="col-xs-3">Trainer 2's room</a>
	<a ui-sref="trainers.chat({id: 3})" class="col-xs-3">Trainer 3's room</a>
</div>

<hr>

<div class="well">

	<div class="btn btn-default" ng-click="pageReady()" id="startButton">Start cam</div>
	<div class="btn btn-default" id="callButton" ng-click="start(true)">Call</div>
	<div class="btn btn-default" id="hangUpButton" ng-click="hangUp()">End Call</div>

	<div class="row">

		<div class="localVideoContainer col-xs-4" ng-show="streaming">

			<video style="display: block; width: 100%" id="localVideo" autoplay muted/>

		</div>

		<div class="remoteVideoContainer col-xs-8" ng-show="streaming">

			<video style="display: block; width: 100%" id="remoteVideo" autoplay/>

		</div>

	</div>
</div>

<!-- 
	<section class="experiment">
    <section>
		
        <input type="text" id="conference-name">
        <button id="setup-new-conference" class="setup">Setup New Conference</button>
    </section>
	list of rooms to connect to
    <table style="width: 100%;" id="rooms-list"></table>

    container for video elements
    <div id="videos-container"></div>
</section>
-->
