
<h1>I'm trainer {{trainerId}}</h1>
	<p>
    Bacon ipsum dolor amet brisket cow bresaola biltong lorem non consectetur eu meatloaf dolor ullamco adipisicing incididunt. Proident t-bone jerky corned beef ad. Prosciutto sirloin ullamco pancetta. Lorem dolor cupidatat filet mignon pariatur adipisicing. Duis occaecat spare ribs dolore ut exercitation. Tongue pork belly turducken pastrami excepteur, anim drumstick venison bacon voluptate consectetur porchetta sausage boudin ut. Deserunt tempor sint ground round.
	</p>
<a ui-sref=".calendar({id: {{trainerId}} })" >
    <div class="btn btn-default">Book a session!</div>
</a>