<h1>welcome to trainer {{trainerId}}'s calendar!</h1>
<div class="container">
  <section id="directives-calendar" >
    <div class="well">
        <div class="row">
            <div class="col-xs-4">
                
                <div class="row btn-group calTools">             
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
                    Add Event
                  </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Schedule your next session!</h4>
                      </div>
                      <div class="modal-body text-left">
                        <span class="row">Name:
                            <input type="text" ng-model="clientName" />
                        </span >
                        <span class="row">Date:
                            <input type="text" ng-model="sessionMonth" placeholder="MM" />/
                            <input type="text" ng-model="sessionDay" placeholder="DD" />
                        </span>
                        <div class="row">Time:
                            <div class="timeContainer">
                                <timepicker ng-model="mytime" hour-step="1" minute-step="30" ismeridian="false"></timepicker>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addEvent()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="e in events">
                        <div class="alert alert-info">
                            <a class="close" ng-click="remove($index)">X</a>
                            <span ng-model="e.clientName">{{e.clientName}}</span> 
                            <div class="row">
                                <span>{{e.start}} - {{e.end}}</span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="col-xs-8">

                <i class="glyphicon glyphicon-bell"></i> Calendar {{trainerId}}
                <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                  <h4>{{alertMessage}}</h4>
                </div>
                <div class="calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
            </div>
        </div>
    </div>
  </section>
</div>