<!-- public/views/trainers.html -->


	
		<div class="row" >
			<div class="col-sm-4 text-center well" ng-repeat="trainer in trainers">
				<h1>I'm {{trainer.name}}</h1>
				<p>
			    	{{trainer.description}}
				</p>
				<a ui-sref=".calendar({id: trainer.id })" style="text-decoration: none !important;">
				    <div class="btn btn-default">Book a session!</div>
				</a>
				<a ui-sref=".chat({id: trainer.id })" >
					<div class="btn btn-default">Chat with me!</div>
				</a>
			</div>
		</div>
		<div ui-view></div>
		

	


