<!-- public/views/trainers.html -->


	
		<div class="row text-center">
			<div class="col-xs-3 "><a ui-sref=".about({id:1})" class="btn btn-default ">Trainer 1</a></div>
		    <div class="col-xs-3 "><a ui-sref=".about({id:2})"class="btn btn-default ">Trainer 2</a></div>
		    <div class="col-xs-3 "><a ui-sref=".about({id:3})"class="btn btn-default ">Trainer 3</a></div>
		    <div class="col-xs-3 "><a ui-sref=".about({id:4})"class="btn btn-default ">Trainer 4</a></div>
		</div>
		<div class="row text-center" ui-view>
			<!-- trainer info goes here -->
		</div>	
	


